---
layout: default
title: Home
lang: en
---

<body class="page-home">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="section-video">
      <div class="hero-video">
          <div class="hero-video-container" data-vide-bg="/videos/HYC_loop_1" data-vide-options="posterType:jpg">
          </div>

          <img class="hero-video-overlay-h4c logo-h4c" width="489" height="461" src="" alt="Hack Your City" />
      </div>
    </div>
    
    {% include header.html %}

    <div class="section-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-push-3">
            <div class="content-body">

              <p>How will mobility in cities work in the future? How green will our cities be? How can the city of the future be supplied with energy? Such complex questions need interdisciplinary answers. At hackathons and city labs interested citizens are encouraged to become into city developers.</p>
              
              <div id="collapseIntroMore" class="collapse" role="tabpanel" aria-labelledby="collapseIntroMore">
              
                <p>In labs hobby and professional researchers will try out new approaches and hacks to solve their cities’ problems. In Cologne and Berlin the participants can solder, code or design. It is up to them whether they want to create an app, a website, a machine or a completely analogue object.</p>

                <p>Researchers will work together with citizens, municipalities and start-ups to develop smart solutions to societal challenges. Whether it is climate change, energy supply, mobility or supporting communities: the answers to these challenges must be realized locally.</p>        
              
              </div>

              <a class="link-more" data-toggle="collapse" href="#collapseIntroMore" aria-expanded="false" aria-controls="collapseIntroMore">>Weiterlesen...</a>
            </div>
          </div>

          <div class="col-md-3 col-md-pull-9">
            {% include modules/hashtags.html %}
          </div>
        </div>
      </div>

      <div class="section-labs">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 col-sm-offset-3">
              <div class="panel-square-wrap">
                  <div class="panel panel-lab-teaser panel-lab1">
                    <a class="event-wrap" href="/en/berlin">
                      <div class="panel-heading">
                        <h3 class="event-lab">Berlin</h3>
                      </div>
                      <div class="panel-body">
                        <h2 class="event-title">Kickoff</h2>
                        <h3 class="event-date" >TBD</h3>
                      </div>
                      <div class="panel-footer">
                       <span class="link-more">&gt; More...</span>
                      </div>
                    </a>
                  </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="panel-square-wrap">
                <div class="panel panel-lab-teaser panel-lab5">
                  <a class="event-wrap" href="/en/koeln">
                    <div class="panel-heading">
                      <h3 class="event-lab">Cologne</h3>
                    </div>
                    <div class="panel-body ">
                      <h2 class="event-title">Kickoff</h2>
                      <h3 class="event-date" >4-5 March</h3>
                    </div>
                    <div class="panel-footer">
                      <span class="link-more">&gt; More...</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="section-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2>Newsletter</h2>
          </div>
          <div class="col-md-9">
            {% include modules/newsletter.html %}
          </div>
        </div>
      </div>
    </div>

    <div class="section-projects">
      <div class="container-fluid">
        <h2 class="text-center">Citizen Science Projects</h2>
        <div class="row">
          
          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/philly.jpg" alt="Störche">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Cycle Philly</h3>
                  <p class="caption-body">An App that receives data over GPS to know where people like to ride their bicycle. The goal is to give city planners the possibility to plan more to the needs of the people. <a href="http://www.cyclephilly.org" target="_blank">&gt; View project</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/openwater.jpg" alt="Luftballon">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Open Water Project</h3>
                  <p class="caption-body">Give the interested citizens the possibility to measure the quality of their water, share it and analyze it. This is the vision of the open water project. Together they build an affordable and easy to rebuild DIY tool. <a href="http://openwaterproject.io" target="_blank">&gt; View project</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/citizenkit.jpg" alt="Luftballon">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Smart Citizen</h3>
                  <p class="caption-body">A platform to connect projects and ideas of activists around the issue of citizen science. With many examples for the use of open source tools that give citizens the opportunity to shape their city. <a href="http://smartcitizen.me" target="_blank">&gt; View project</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/project_dummy.jpg" alt="Störche">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Animal Tracker</h3>
                  <p class="caption-body">The project of the Max Planck Institute help citizen ornithologists and scientists to get data about the routes of birds and put the information to disposal. <a href="http://www.orn.mpg.de/animaltracker" target="_blank">&gt; View project</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {% include footer.html %}

</body>



