---
layout: default
title: Home
---

<body class="page-home">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="section-video">
      <div class="hero-video">
          <div class="hero-video-container" data-vide-bg="/videos/HYC_loop_1" data-vide-options="posterType:jpg">
          </div>

          <img class="hero-video-overlay-h4c logo-h4c" width="489" height="461" src="" alt="Hack Your City" />
      </div>
    </div>
    
    {% include header.html %}

    <div class="section-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-push-3">
            <div class="content-body">

              <p>Wie sieht die Mobilität von morgen in den Städten aus? Wie grün werden unsere Städte sein? Wie kann die Stadt der Zukunft mit Energie versorgt werden? Solche komplexen Fragen erfordern interdisziplinäre Antworten. Im Rahmen von Hackdays und Stadtlaboren machen wir interessierte Bürger zu Stadtgestaltern.</p>
              
              <div id="collapseIntroMore" class="collapse" role="tabpanel" aria-labelledby="collapseIntroMore">
                <p>In Citizen Science Labs werden HobbyforscherInnen und ForscherInnen neue Ansätze und Hacks für die Probleme unserer Städte erproben. Es kann in Köln und Berlin gelötet, programmiert, oder designt werden. Dabei ist offen, ob am Ende eine App, eine Website, eine Maschine oder ein ganz analoges Objekt entsteht.</p>
                <p>WissenschaftlerInnen entwickeln gemeinsam mit BürgerInnen, Kommunen und Wirtschaft kluge Lösungen für gesellschaftliche Herausforderungen. Egal ob Klimawandel, Energiesicherheit, Mobilität oder das soziale Miteinander: die Antwort darauf muss vor Ort verwirklicht werden können.</p>
              </div>

              <a class="link-more" data-toggle="collapse" href="#collapseIntroMore" aria-expanded="false" aria-controls="collapseIntroMore">>Weiterlesen...</a>
            </div>
          </div>

          <div class="col-md-3 col-md-pull-9">
            {% include modules/hashtags.html %}
          </div>
        </div>
      </div>

    <div class="section-labs">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-sm-offset-3">
            <div class="panel-square-wrap">
                <div class="panel panel-lab-teaser panel-lab1">
                  <a class="event-wrap" href="/berlin">
                    <div class="panel-heading">
                      <h3 class="event-lab">Berlin</h3>
                    </div>
                    <div class="panel-body">
                      <h2 class="event-title">Kickoff</h2>
                      <h3 class="event-date" >Infos folgen</h3>
                    </div>
                    <div class="panel-footer">
                     <span class="link-more">&gt; Mehr Infos...</span>
                    </div>
                  </a>
                </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="panel-square-wrap">
              <div class="panel panel-lab-teaser panel-lab5">
                <a class="event-wrap" href="/koeln">
                  <div class="panel-heading">
                    <h3 class="event-lab">Köln</h3>
                  </div>
                  <div class="panel-body ">
                    <h2 class="event-title">Kickoff</h2>
                    <h3 class="event-date" >4-5 März</h3>
                  </div>
                  <div class="panel-footer">
                    <span class="link-more">&gt; Mehr Infos...</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2>Newsletter</h2>
          </div>
          <div class="col-md-9">
             {% include modules/newsletter.html %}
          </div>
        </div>
      </div>
    </div>

    <div class="section-projects">
      <div class="container-fluid">
        <h2 class="text-center">Citizen Science Projekte</h2>
        <div class="row">
          
          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/philly.jpg" alt="SOHMS_Pflege"> 
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">SOHMS</h3>
                  <p class="caption-body">Basierend auf dem Forschungsprojekt <a href=" https://www.th-koeln.de/forschung/sensorcloud_2965.php" target="_blank">SensorCloud</a> der TH Köln, sollen Pflegedienstleistungen und Hausnotrufsysteme optimiert werden. Besonderer Wert wird dabei auf den sicheren Austausch von Daten zwischen verschiedenen Pflegeeinrichtungen (Rettungsdienst, Krankenhäuser etc.) gelegt.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/openwater.jpg" alt="Luftballon">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">City Performance Tool</h3>
                  <p class="caption-body">Das City Performance Tool ist gleich ein ganzes Set an Ideen, wie die Infrastruktur der Stadt Köln verbessert werden könnte. Basierend auf einer Straßenumfrage steht vor allem das Angebot der KVB und der Ausbau der Fahrradinfrastruktur im Mittelpunkt. Das Tool soll am Ende vor allem eine Verbindung schaffen zwischen schon bestehenden Anwendungen.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/citizenkit.jpg" alt="Luftballon">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Public Depart Cologne</h3>
                  <p class="caption-body">Es gibt oft große Abweichungen zwischen der geplanten und der realen Abfahrtszeit von U-Bahnen und Bussen der Kölner Verkehrs-Betriebe (KVB). Die neue  App stellt mit Realtime-Daten der KVB relevante Informationen den Bedienern zur Verfügung, um Wartezeiten an der Haltestelle zu reduzieren. Man kann sehen, ob man im Renntempo noch die nächste Bahn erreicht oder ob man am besten ganz gemütlich spaziert.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/project_dummy.jpg" alt="Störche">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Nachwuchs-Hacker</h3>
                  <p class="caption-body">Nicht nur die einzelnen Ideen und Projekte sind bei einem Hackday wichtig. Junge, engagierte Hacker sollen gefördert werden...
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {% include footer.html %}

</body>



