---
layout: default
title: Home
---

<body class="page-home">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="section-video">
      <div class="hero-video">
          <div class="hero-video-container" data-vide-bg="/videos/HYC_loop_1" data-vide-options="posterType:jpg">
          </div>

          <img class="hero-video-overlay-h4c logo-h4c" width="489" height="461" src="" alt="Hack Your City" />
      </div>
    </div>
    
    {% include header.html %}

    <div class="section-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-push-3">
            <div class="content-body">

              <p>Wie sieht die Mobilität von morgen in den Städten aus? Wie grün werden unsere Städte sein? Wie kann die Stadt der Zukunft mit Energie versorgt werden? Solche komplexen Fragen erfordern interdisziplinäre Antworten. Im Rahmen von Hackdays und Stadtlaboren machen wir interessierte Bürger zu Stadtgestaltern.</p>
              
              <div id="collapseIntroMore" class="collapse" role="tabpanel" aria-labelledby="collapseIntroMore">
                <p>In Citizen Science Labs werden HobbyforscherInnen und ForscherInnen neue Ansätze und Hacks für die Probleme unserer Städte erproben. Es kann in Köln und Berlin gelötet, programmiert, oder designt werden. Dabei ist offen, ob am Ende eine App, eine Website, eine Maschine oder ein ganz analoges Objekt entsteht.</p>
                <p>WissenschaftlerInnen entwickeln gemeinsam mit BürgerInnen, Kommunen und Wirtschaft kluge Lösungen für gesellschaftliche Herausforderungen. Egal ob Klimawandel, Energiesicherheit, Mobilität oder das soziale Miteinander: die Antwort darauf muss vor Ort verwirklicht werden können.</p>
              </div>

              <a class="link-more" data-toggle="collapse" href="#collapseIntroMore" aria-expanded="false" aria-controls="collapseIntroMore">>Weiterlesen...</a>
            </div>
          </div>

          <div class="col-md-3 col-md-pull-9">
            {% include modules/hashtags.html %}
          </div>
        </div>
      </div>

    <div class="section-labs">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-sm-offset-3">
            <div class="panel-square-wrap">
                <div class="panel panel-lab-teaser panel-lab1">
                  <a class="event-wrap" href="/berlin">
                    <div class="panel-heading">
                      <h3 class="event-lab">Berlin</h3>
                    </div>
                    <div class="panel-body">
                      <h2 class="event-title">Kickoff</h2>
                      <h3 class="event-date" >Infos folgen</h3>
                    </div>
                    <div class="panel-footer">
                     <span class="link-more">&gt; Mehr Infos...</span>
                    </div>
                  </a>
                </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3">
            <div class="panel-square-wrap">
              <div class="panel panel-lab-teaser panel-lab5">
                <a class="event-wrap" href="/koeln">
                  <div class="panel-heading">
                    <h3 class="event-lab">Köln</h3>
                  </div>
                  <div class="panel-body ">
                    <h2 class="event-title">Kickoff</h2>
                    <h3 class="event-date" >4-5 März</h3>
                  </div>
                  <div class="panel-footer">
                    <span class="link-more">&gt; Mehr Infos...</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2>Newsletter</h2>
          </div>
          <div class="col-md-9">
             {% include modules/newsletter.html %}
          </div>
        </div>
      </div>
    </div>

    <div class="section-projects">
      <div class="container-fluid">
        <h2 class="text-center">Citizen Science Projekte</h2>
        <div class="row">
          
          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/philly.jpg" alt="Störche">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">SOHMS</h3>
                  <p class="caption-body">Basierend auf dem Forschungsprojekt der <a href=" https://www.th-koeln.de/forschung/sensorcloud_2965.php" target="_blank">SensorCloud</a> der TH Köln, sollen Pflegedienstleistungen und Hausnotrufsysteme optimiert werden. Besonderer Wert wird dabei auf den sicheren Austausch von Daten zwischen verschiedenen Pflegeeinrichtungen (Rettungsdienst, Krankenhäuser etc.) gelegt.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/openwater.jpg" alt="Luftballon">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Open Water Project</h3>
                  <p class="caption-body">Interessierten Bürgern die Möglichkeit geben die Qualität von Gewässern zu messen, zu teilen und zu analysieren. Das ist die Vision des Open Water Projects! Gemeinsam haben sie ein günstiges und leicht nachzubauendes DIY-Tool entwickelt. <a href="http://openwaterproject.io" target="_blank">&gt; Zum Projekt</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/citizenkit.jpg" alt="Luftballon">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Smart Citizen</h3>
                  <p class="caption-body">Eine Plattform zur Vernetzung von Projekten, Ideen und Aktivistinnen rund um Citizen Science. Mit zahlreichen Beispielen für die Verwendung von Open Source Tools, die Bürgern die Möglichkeit geben, ihre Stadt mitzugestalten. <a href="http://smartcitizen.me" target="_blank">&gt; Zum Projekt</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-project">
            <div class="thumbnail thumbnail-project">
              <img class="img-responsive" src="/img/projects/project_dummy.jpg" alt="Störche">
              <div class="overlay">
                <div class="caption">
                  <h3 class="caption-title">Animal Tracker</h3>
                  <p class="caption-body">Das vom Max-Planck Institut in einem Schülerworkshop entwickelte Projekt hilft Hobby-Ornithologen und Forscherinnen dabei, Daten über die Flugrouten von Zugvögeln zu aggregieren und stellt diese Informationen gleichzeitig offen zur Verfügung. <a href="http://www.orn.mpg.de/animaltracker" target="_blank">&gt; Zum Projekt</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {% include footer.html %}

</body>



