<footer>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
              <ul class="list-unstyled footer-initiator-logos">
                <li>
                    <a href="https://www.wissenschaft-im-dialog.de/">
                    <img class="img-responsive" width="842" height="595" src="/img/svg/wid_logo.svg" alt="wissenschft im dialog">
                    </a>
                </li>
                <li>
                    <a href="https://www.siemens.com/de/de/home.html">
                    <img class="img-responsive" width="842" height="595" src="/img/svg/siemens_logo_sw.svg" alt="Siemens Ingenuity for life">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="nav nav-meta list-unstyled">
                {% if page.lang == 'en'  %}
                <li><a href="/en/legal">Contact &amp; Legal</a></li>
                {% else %}
                <li><a href="/impressum">Kontakt &amp; Impressum</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/js/main.min.js?v=1.1"></script>

