@mixin panel-lab-teaser($color) {

	border-color:  $color;

	&:after {
		background-color: $color;
	}

	&:hover {

		color: white;
		
		a, a:hover, a:visited, a:focus {
			color: white;
		}
	
	}

	a, a:hover, a:visited, a:focus {
		color: $color;
		@include transition(color 0.3s);
	}

}

@mixin page-lab-logo($lab) {

	.page-lab-#{$lab} {

		.navbar-brand {
			@extend .svg-h4c_logo_#{$lab}_big;
		}

		.navbar-fixed .navbar-brand {
			@extend .svg-h4c_logo_#{$lab}_small;
		}

	}

}

@mixin page-lab-colorscheme($color) {

	.navbar, .section-lab-slider, .event-signup {
		background-color: $color;
	}

	.content-body, .section-lab-partner {
		h2,h3,h3 {
			color: $color;
		}
	}

}

